
.wrap{
    height: 200px;
}
.collapse{
    width: 200px;
}
.alpha{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    color: #101011;
    border-radius: 10px;

}
.beta {
    margin-top: 100px;
}