body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: #101011 1px solid;
    border-radius: 10px;
    background-color: #0015ff;
}
input{
    width: 200px;
    height: 30px;
}
label{
    font-size: 26px;
    margin-right: 10px;
}
#resultMessage{
    margin-left: 50px;
    font-size: 30px;
}


