body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 500px;
}
#text{
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#btn{
    width: 1000px;
    height: 50px;
    font-size: 30px;
}